
/* TOP SECTION  */
.topnav{
    background-color: black;
    color: white;
    overflow: hidden;
}
.nav{
    text-align: center;
    padding: 36px 18px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;

}
.topnav h1{
    padding: 14px 16px;
    float: left;

}
#button{
    color: yellow;
}
   
/* SECTION 1 */


    
