*{
    box-sizing: border-box;

}
/* TOP SECTION  */
.topnav{
    background-color: black;
    color: white;
    overflow: hidden;
}
.nav{
    text-align: center;
    padding: 36px 18px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.topnav h1{
    padding: 14px 16px;
    float: left;
    font-size:xx-large;
}

   
/* SECTION 1 */

.produce{
    background-image: url(assets/image\ 1.png);
    background-size: cover;
    height: 62vw;
}

/* .produce h1{
    font-size:60px;
    text-align: left;
    color: black;} */

.text{
    text-align: left;
    font-size: xx-large;
    justify-content: right;
}

.image2{
    float: right;
    
  
}
.button1{
    display: flex;
    padding: 15px 18px;
    margin: 10px;
}

